header {
  margin: auto;
  padding: 20px;
  text-align: center;
  background: #00003b;
  color: white;
  font-size: 30px;
  font-family: sans serif;
}

.dropbtn {
  background-color: #99003b;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #C0C0C0;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #00003b;
}

body{
  margin: 0;
  color: black;
  font-family: sans serif;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #33003b;
  color: white;
  text-align: center;
  font-size: 20px;
font-family: sans serif;
}
